In [1]:
student_id = "s223128143"
student_first_last_name = "Hoang Long Tran"
print(student_id, student_first_last_name)

s223128143 Hoang Long Tran

### Connect to database

In [2]:
import firebase_admin
from firebase_admin import credentials

databaseURL = "https://week-5-63814-default-rtdb.firebaseio.com"
cred = credentials.Certificate("credentials.json")
firebase_admin.initialize_app(cred,
                              {'databaseURL':databaseURL})

### Write to the database

In [3]:
from firebase_admin import db

# reference to the root of the DB
ref = db.reference("/") 

# json format data (key/value pair)
data = {  # Outer {} contains inner data structure
	"Book1":
	{
		"Title": "The Fellowship of the Ring",
		"Author": "J.R.R. Tolkien",
		"Genre": "Epic fantasy",
		"Price": 100
	},
	"Book2":
	{
		"Title": "The Two Towers",
		"Author": "J.R.R. Tolkien",
		"Genre": "Epic fantasy",
		"Price": 100	
	},
	"Book3":
	{
		"Title": "The Return of the King",
		"Author": "J.R.R. Tolkien",
		"Genre": "Epic fantasy",
		"Price": 100
	},
	"Book4":
	{
		"Title": "Brida",
		"Author": "Paulo Coelho",
		"Genre": "Fiction",
		"Price": 100
	}
}

# overwrite the the reference point at root node
ref.set(data)

### Read the data

In [5]:
# query all data under ref
books = ref.get()
print(books)
print(type(books))

{'Book1': {'Author': 'J.R.R. Tolkien', 'Genre': 'Epic fantasy', 'Price': 100, 'Title': 'The Fellowship of the Ring'}, 'Book2': {'Author': 'J.R.R. Tolkien', 'Genre': 'Epic fantasy', 'Price': 100, 'Title': 'The Two Towers'}, 'Book3': {'Author': 'J.R.R. Tolkien', 'Genre': 'Epic fantasy', 'Price': 100, 'Title': 'The Return of the King'}, 'Book4': {'Author': 'Paulo Coelho', 'Genre': 'Fiction', 'Price': 100, 'Title': 'Brida'}}
<class 'dict'>

In [6]:
# print each item separately
for key, value in books.items():
    print(f"{key}: {value}")

Book1: {'Author': 'J.R.R. Tolkien', 'Genre': 'Epic fantasy', 'Price': 100, 'Title': 'The Fellowship of the Ring'}
Book2: {'Author': 'J.R.R. Tolkien', 'Genre': 'Epic fantasy', 'Price': 100, 'Title': 'The Two Towers'}
Book3: {'Author': 'J.R.R. Tolkien', 'Genre': 'Epic fantasy', 'Price': 100, 'Title': 'The Return of the King'}
Book4: {'Author': 'Paulo Coelho', 'Genre': 'Fiction', 'Price': 100, 'Title': 'Brida'}

In [7]:
# Query /Book1
ref = db.reference("/Book1")
books = ref.get()
print(books)

{'Author': 'J.R.R. Tolkien', 'Genre': 'Epic fantasy', 'Price': 100, 'Title': 'The Fellowship of the Ring'}

### Write the database using `push()`
This method ensures that if multiple writes are being performed under the same key, they do not overwrite each other. The method uses unique keys for each new child added.

In [8]:
# Note that a set() is called on top of a push()
ref = db.reference("/")
ref.set({
	"Books":
	{
		"Best_Sellers": -1
	}
})

ref = db.reference("/Books/Best_Sellers")

for key, value in data.items():
	ref.push().set(value)

### Update data
J.R.R. Tolkien books are reduced to 80 dollars to offer a discount

In [10]:
ref = db.reference("/Books/Best_Sellers/")
best_sellers = ref.get()
print(best_sellers)

{'-O3UyIWByTLMQkYqVjOR': {'Author': 'J.R.R. Tolkien', 'Genre': 'Epic fantasy', 'Price': 100, 'Title': 'The Fellowship of the Ring'}, '-O3UyIcF1nIwYC72_nJZ': {'Author': 'J.R.R. Tolkien', 'Genre': 'Epic fantasy', 'Price': 100, 'Title': 'The Two Towers'}, '-O3UyIjOv3Lt-cLXNg18': {'Author': 'J.R.R. Tolkien', 'Genre': 'Epic fantasy', 'Price': 100, 'Title': 'The Return of the King'}, '-O3UyIqS45BamYLYhTaM': {'Author': 'Paulo Coelho', 'Genre': 'Fiction', 'Price': 100, 'Title': 'Brida'}}

In [11]:
for key, value in best_sellers.items():
    if(value["Author"] == "J.R.R. Tolkien"):
        ref.child(key).update({"Price":80})

### Delete data
Delete all best seller books with J.R.R. Tolkien as the author

In [12]:
ref = db.reference("/Books/Best_Sellers")

for key, value in best_sellers.items():
    if(value["Author"] == "J.R.R. Tolkien"):
        ref.child(key).set({})
        

# If "ref.child" is not used, all the data will be removed. Like the code below
# ref = db.reference("/Books/Best_Sellers")
# ref.set({})